!!!
%html
  %head
    %title Device Motion
    %link(href="/assets/application.css"   rel="stylesheet" type="text/css" media="screen")
    %link(href="/assets/device_motion.css" rel="stylesheet" type="text/css" media="screen")
  %body
    #acce_panel.panel
      %h1 Device Motion
      .object
        .function_panel
          %div
            %label window.DeviceMotionEvent
            %span#acce_event_object no
      .no
        %p Don't support devicemotion event
      .yes
        %p
          %label last update time
          %span#acce_update_time -
        %p
          %label Update interval
          %span#acce_update_interval -
        .function_panel
          %h2 Acceleration Including Gravity
          %div
            %label x
            %span#acce_acceleration_including_gravity_x -
            .counter
              #acce_acceleration_including_gravity_x_counter
          %div
            %label y
            %span#acce_acceleration_including_gravity_y -
            .counter
              #acce_acceleration_including_gravity_y_counter
          %div
            %label z
            %span#acce_acceleration_including_gravity_z -
            .counter
              #acce_acceleration_including_gravity_z_counter
        .function_panel
          %h2 Acceleration
          %div
            %label x
            %span#acce_acceleration_x -
            .counter
              #acce_acceleration_x_counter
          %div
            %label y
            %span#acce_acceleration_y -
            .counter
              #acce_acceleration_y_counter
          %div
            %label z
            %span#acce_acceleration_z -
            .counter
              #acce_acceleration_z_counter
        .function_panel
          %h2 Rotation rate
          %div
            %label alpha
            %span#acce_rotation_alpha -
            .counter
              #acce_rotation_alpha_counter
          %div
            %label beta
            %span#acce_rotation_beta -
            .counter
              #acce_rotation_beta_counter
          %div
            %label gamma
            %span#acce_rotation_gamma -
            .counter
              #acce_rotation_gamma_counter
    #orientation_panel.panel
      %h1 Device Orientation
      .object
        .function_panel
          %div
            %label window.DeviceOrientationEvent
            %span#device_orientation_event_object no
      .no
        %p Don't support devicerientation event
      .yes
        %p
          %label last update time
          %span#device_orientation_update_time -
        .function_panel
          %h2 DeviceOrientation
          %div
            %label alpha
            %span#device_orientation_alpha -
            .counter
              #device_orientation_alpha_counter
          %div
            %label beta
            %span#device_orientation_beta -
            .counter
              #device_orientation_beta_counter
          %div
            %label gamma
            %span#device_orientation_gamma -
            .counter
              #device_orientation_gamma_counter
          %div
            %label absolute
            %span#device_orientation_absolute -
        .function_panel
          %h2 window.Orientation
          %p
            %label window.orientation
            %span#window_orientation_by_deviceorientation -
    #window_orientation_panel.panel
      %h1 On Orientation Change
      .no
        %p Don't support window.onorientationchange.
      .yes
        %p
          %label last update time
          %span#window_orientation_update_time -
        .function_panel
          %h2 window.Orientation
          %p
            %label window.orientation
            %span#window_orientation -
    #moz_orientation_panel.panel
      %h1 Moz Device Orientation
      .object
        .function_panel
          %div
            %label window.MozOrientationEvent
            %span#moz_orientation_event_object no
      .no
        %p Don't support MozOrientation
      .yes
        %p
          %label last update time
          %span#moz_orientation_update_time -
        .function_panel
          %h2 MozDeviceOrientation
          %div
            %label x
            %span#moz_orientation_x -
            .counter
              #moz_orientation_x_counter
          %div
            %label y
            %span#moz_orientation_y -
            .counter
              #moz_orientation_y_counter
          %div
            %label z
            %span#moz_orientation_z -
            .counter
              #moz_orientation_z_counter
    %script(type="text/javascript" src="/assets/device_motion.js")