!!!
%html
  %head
    %title HTML5 Practices
    %link(href="/assets/application.css" rel="stylesheet" type="text/css" media="screen")
  %body
    %ul
      %li
        %a(href="/device_motion.html") Device motion and orientation