.panel {
  border-left: solid 1px;
  border-bottom: solid 1px;
  padding: 0px 10px;
  margin-bottom: 5px;

  .yes {
    display: none;
  }
}

.function_panel {
  border-top: solid 1px;
  margin-left: 10px;
}
